<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>Help Fee</title>
</head>

<body background="https://www.wallpaperkiss.com/wimg/b/106-1065968_big.jpg">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Welcome <%= user.nombres%></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mi Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row mx-auto">
            <div class="card mr-4" style="width: 18rem;">
                <img class="card-img-top" src="https://images.credly.com/size/340x340/images/e239db9e-436b-450b-9e90-a0042d1af171/blob.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bancolombia</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est error dicta alias doloribus officia maxime. Sed excepturi sunt nemo voluptatibus fuga dignissimos expedita nostrum a commodi praesentium. Necessitatibus, vitae at!</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Comprar</a>
                    <a href="#" class="card-link">Ir al detalle</a>
                </div>
            </div>
            <div class="card mr-4" style="width: 18rem;">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Banco_Colpatria_logo.svg/1200px-Banco_Colpatria_logo.svg.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Colpatria</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente vitae culpa, quo pariatur alias similique facere reprehenderit quidem, dolorem eaque placeat. Repellat autem fugit iste animi corrupti earum eius.</p>
                </div>
                <ul class="list-group list-group-flush">
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Comprar</a>
                    <a href="#" class="card-link">Ir al detalle</a>
                </div>
            </div>
            <div class="card mr-4" style="width: 18rem;">
                <img class="card-img-top" src="https://www.centro93.co/wp-content/uploads/logo_bancodebogota.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Banco de Bogotá</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, impedit placeat? Quam ut qui debitis. Sapiente modi quos suscipit dolorum, nihil, corporis dignissimos minus aliquid ullam alias cumque, adipisci laboriosam!</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Comprar</a>
                    <a href="#" class="card-link">Ir al detalle</a>
                </div>
            </div>

        </div>
    </div>

</body>

</html>